label {
  display: block;
}

form div {
  margin-bottom: 1.5rem;
}

input,
select,
textarea {
  font-size: 1.125rem;
  width: 15em;
}

textarea {
  height: 10em;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 0.3em;
  background-color: #e2e2e2;
  border-radius: 6px;
}

input:focus,
textarea:focus {
  background-color: #fff;
}

button {
  font-size: 1.125rem;
  padding: 0.5em 0.75em;
  background-color: #0f0;
  border: 3px solid #3c3;
  color: #363;
  border-radius: 6px;
  cursor: pointer;
}
